:root{
    --white-color: #ffffff;
    --light-blue-color: #08304B;
    --dark-blue-color: #021019;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'),
    local('Ubuntu Regular'),
    local('Ubuntu-Regular'),
    url('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'),
    local('UbuntuMono Regular'),
    local('UbuntuMono-Regular'),
    url('fonts/UbuntuMono/UbuntuMono-Regular.ttf') format('truetype');
}

html{
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

h1 {
    margin-top: 0;
}
.section-title-text {
    font-family: 'Ubuntu Mono';
    font-size: 3em;
}


/* Header */
header {

}
.topnav {
    font-family: 'Ubuntu Mono';
    background-color: var(--light-blue-color);

    overflow: hidden;
    height: 9em;

    position: fixed;
    top: 0;
    width: 100%;
}
.topnav .nav-item {
    float: left;
    color: var(--white-color);
    text-align: center;
    padding: 4em 0em 4em 1.5em;
    text-decoration: none;
    font-size: 1em;

    display: block;
}
.topnav-right {
    float: right;
    padding-right: 10%;
}


.logotype {
    float: left;
    color: var(--white-color);
    text-align: center;
    padding: 2em 0em 2em 10%;
    text-decoration: none;
}


.logotype-image{
    height: 5em;
}


/* Main */
main {
    margin-top: 9em;
}

/* Inicio */
#inicio {
    background-color: var(--dark-blue-color);
    color: white;
    padding: 12.5% 10% 12.5% 10%;
}
.left-block {
    width: 50%;
}
.presentation {

}
.intro {
    margin-top: 0;
    font-family: 'Ubuntu Mono';
    font-weight: bold;
    font-size: 3em;
}
.micro-bio-text {
    margin-top: 0;
}
.micro-bio-text {
    font-size: 1.25em;
    font-weight: normal;
}


ul.social-media-list img {
    padding: 2px;
    width: 40px;
    height: 40px;
}
ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.social-media-list li {
    display: inline-block;
}


.social-icon {
    width: 2em;
}
.social-icon:hover {

}

.right-block {
    width: 50%;
}
.photo {
    width: 100%;
}

/* Sobre mi */
#sobre-mi {
    background-color: var(--light-blue-color);
    color: white;
    padding: 2.5% 8%;
}


/* Superpoderes */
#superpoderes {
    background-color: var(--dark-blue-color);
    color: white;
    padding: 2.5% 8%;
}

/* Proyectos */
#proyectos {
    background-color: var(--light-blue-color);
    color: white;
    padding: 2.5% 8%;
}

/* Reconocimientos */
#reconocimientos {
    background-color: var(--dark-blue-color);
    color: white;
    padding: 2.5% 8%;
}

/* Proyectos */
#contacto {
    background-color: var(--light-blue-color);
    color: white;
    padding: 2.5% 8%;
}

/* Reconocimientos */
footer {
    background-color: var(--dark-blue-color);
    color: white;
    padding: 2.5% 8%;
}
