:root{
    --white-color: #ffffff;
    --light-blue-color: #08304B;
    --dark-blue-color: #021019;

    --header-height: 8rem;
}

*, body, h1 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}
.header__container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
}
.section__container {
    width: 80%;
    margin: auto;
}
.logo{
    width: 30%;
    height: 100%;
    background: red;
    vertical-align: middle;
}
.menu{
    width: 70%;
    height: 100%;
}

/* Texto: tamanho y color */
.header{
    font-size: 1.5rem;
    color: var(--white-color);
}
.main{
    font-size: 2rem;
    color: var(--white-color);
}
.footer{
    font-size: 1.5rem;
    color: var(--white-color);
}

/* Header fijo */
.header{
    inline: block;
    height: var(--header-height); /* Alto fijo */
    width: 100%;
    font-size: 1rem; /* Tamanho de la fuente */

    position: fixed; /* Posicion fija */
    top: 0;
    left: 0;
    z-index: 1;
}
/*.menu{*/
/*    list-style: none; !* Desparecen las vinhetas *!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/


.menu__item{

}
.menu__link{
    color: white;
    text-decoration: none;
}
.menu__link:hover{
    color: red;
}

/* Contenido principal desplazado */
.main, .footer {
    position: relative;
    top: var(--header-height);
}

/* Secciones desplazadas */
.section {
    scroll-margin-top: var(--header-height);
}

/* Color */
.header{
    background: var(--light-blue-color);
}
.section-a, .section-c {
    background: var(--dark-blue-color);
}
.section-b, .section-d {
    background: var(--light-blue-color);
}
.footer {
    background: red;
}
